.side-menu {
  min-width: 75px;
  max-width: 75px;
  height: 100vh;
  min-height: 570px;
  background-color: #fff;
  display: flex;
  z-index: 9;
  box-shadow: 0 2px 4px rgb(15 34 58 / 12%);

  @media (max-width: 991.98px) {
    position: fixed;
    bottom: 0;
    height: 60px;
    min-width: 100%;
    min-height: auto;
    display: block;
    border-top: 1px solid #f0eff5;
  }

  .navbar-brand-box {
    text-align: center;

    .logo {
      line-height: 70px;
    }

    @media (max-width: 991.98px) {
      display: none;
    }
  }

  .nav-item {
    margin: 7px 0;

    @media (max-width: 991.98px) {
      flex-basis: 0;
      flex-grow: 1;
      margin: 5px 0;
    }

    .nav-link {
      text-align: center;
      font-size: 24px;
      width: 56px;
      height: 56px;
      line-height: 56px;
      margin: 0 auto;
      border-radius: 8px;
      padding: 0;

      @media (max-width: 991.98px) {
        font-size: 20px;
        width: 48px;
        height: 48px;
        line-height: 48px;
      }
    }
  }

  .profile-user {
    height: 36px;
    width: 36px;
    background-color: #f0eff5;
    padding: 3px;
  }

  .dropup .dropdown-toggle::after {
    display: none;
  }

  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    color: #007bff;
    background-color: #f7f7ff;
  }
}
